.note{
  padding:10px;
  border-left:4px solid;
  margin:10px 0;
  border-radius:4px;
}

/* Warna note */
.blue{
  background:#dce9f7;
  border-color:#7aa0c4;
}

.yellow{
  background:#fff3b0;
  border-color:#e0b000;
}

/* Quotes */
.quote{
  padding:12px 15px;
  margin:10px 0;
  background:#f5f5f5;
  border-left:5px solid;
  font-style:italic;
  color:#444;
  border-radius:4px;
}

/* Warna quotes */
.quote-pink{
  border-color:#ff7aa2;
  background:#ffe5ee;
}

.quote-purple{
  border-color:#9b7bff;
  background:#efe8ff;
}

.quote-green{
  border-color:#53a653;
  background:#e7f7e7;
}
